* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(51, 71, 71);
    color: rgb(216, 218, 219);
    font-size: 24px;

}

html {
    margin: auto 50px;
}

/* NAV */

.nav-bar {
    float: right;
}

.nav-bar, li {
    display: inline;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

a:hover {
     text-decoration: underline; 
     text-underline-offset: 6px;  
}

#active-page {
    text-decoration: underline overline #FFF;
    text-underline-offset: 6px;
}

/* BODY CONTENT*/

h1 {
    font-size: 200px;
    margin-bottom: 10px;
    margin-top: 50px;
}

h3 {
    font-size: 100px;
    margin-top: 0
}

.temp, p {
    margin-top: 100px;
    text-align: center;
}

.name-banner {
    
}

/* FOOTER */

footer {
    margin: auto;
}
footer, p {
    text-align: center;
}


@media only screen and (max-width: 480px) {
    * {
        font-size: 16px;
        margin: 0;
    }

    /* Navigation Bar */
    .nav-bar {
        float: none;
        text-align: center;
        margin-top: 40px;
    }

    .nav-bar, li {
        padding-right: 10px;
        margin-right: 0;
        margin-bottom: 10px; 
        margin-top: 50px;
        text-decoration: underline;
    }

    /* Headings */
    h1 {
        font-size: 50px; /* Scale down heading size */
        margin-top: 10px;
        text-align: center;
    }

    h3 {
        font-size: 30px; /* Scale down subheading */
        text-align: center;
    }

    /* Body Content */
    .temp, p {
        margin-top: 50px; 
        margin-bottom: 50px;
    }

    /* Footer */
    footer {
        padding: 10px;
    }
}

